.StepButton-d2-0-2-8.completed {
  background-color: #f9802d !important;
}

.StepButton-d6-0-2-18.active {
  background-color: gray !important;
}

.StepButton-d6-0-2-18.completed {
  background-color: #f9802d !important;
}

.StepMain-0-2-3 > button {
  background-color: #f9802d !important;
}
